@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  font-size: 18px;
}

html {
  text-align: justify;
}

h1,
h2,
h3 {
  break-before: page;
  display: inline-block;
}

p {
  line-height: 1.6em;
  margin: 0;
}

section.level3 > div > p {
  text-indent: 1.75ch;
}

.footnote {
  float: footnote;
}

.footnote::footnote-call {
  content: '*';
  margin-left: 0.5em;
  vertical-align: super;
  font-size: 70%;
}

.footnote::footnote-marker {
  content: '*';
  margin-right: 1em;
  vertical-align: super;
  font-size: 70%;
}

@-adapt-footnote-area ::before {
  margin-inline-start: -1000px;
  margin-inline-end: 0px;
  margin-block-end: 2rem;
}

@media print {
  @page :first {
    counter-reset: p;
  }
  
  @page {
    counter-increment: p;
  }

  @page :left {
    @bottom-left {
      content: counter(p);
    }
  }
  
  @page :right {
    @bottom-right {
      content: counter(p);
    }
  }
}
