@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  font-size: 18px;
}

html {
  text-align: justify;
}

h1,
h2,
h3 {
  break-before: page;
}

p {
  line-height: 1.6em;
  margin: 0;
}

section.level3 > div > p {
  text-indent: 1.75ch;
}

.footnotes {
  float: footnote;
}

@media print {
  .footnote-ref {
    text-decoration: none;
    color: inherit;
  }

  .footnote-back {
    visibility: hidden;
  }

  @page :first {
    counter-reset: p;
  }
  
  @page {
    counter-increment: p;
  }

  @page :left {
    @bottom-left {
      content: counter(p);
    }
  }
  
  @page :right {
    @bottom-right {
      content: counter(p);
    }
  }
}
