@import url('./style.css');

body {
  page: toc;
}

@page toc {
  @bottom-left {
    content: normal;
  }

  @bottom-right {
    content: normal;
  }
}

h1 {
  display: none;
}

h2 {
  font-size: 1.17em;
}

nav ol {
  padding: 0;
  list-style: none;
}

nav ol li {
  break-inside: avoid;
}

nav ol li a {
  display: inline-block;
  margin-block-end: 0.5em;
}

nav ol li:not(:first-of-type) a[href$="index.html"] {
  margin-block-start: 1em;
}

nav ol li a:not([href$="index.html"]) {
  margin-inline-start: 1em;
}

nav ol li a:not([href$="index.html"])::before {
  content: '•';
  margin-inline-end: 0.25rem;
}

nav ol li a:not([href$="index.html"])::after {
  content: ', ' target-counter(attr(href url), p);
}

@media print {
  nav ol li a {
    color: inherit;
    text-decoration: none;
  }
}
